<ul class="dropdown-user-menu">
    <li><a href="#"> <i class="uil-bolt"></i> Go PRO</a></li>
    <li><a (click)="goToProfile()"> <i class="uil-user"></i> My Profile </a></li>
    <li><a > <i class="uil-envelope"></i> My Inbox </a></li>
    <li><a (click)="goToEditProfile()"> <i class="uil-edit"></i> Edit Profile </a></li>
    <li><a href="profile-setting.html"> <i class="uil-cog"></i> Account Settings</a></li>
    <li class="menu-divider"></li>
    <li><a (click)="logout()"> <i class="icon-feather-log-out"></i> Sing Out</a>
    </li>
</ul>
